<div class="content-wrapper text-left">
	<section>
		<div class="row">

			<div class="col-md-12">

				<div class="card">
					<div class="card-header pt-3 pl-2">
						<div class="row" style="border-bottom: 1px solid #f1f1f1;">
							<div class="col-md-6">
								<h4 class="card-title">Monitoring</h4>
							</div>
							<div class="col-md-3">
								<div class="floating-label select-label mt-1">
									<select class="floating-select" [(ngModel)]="demId" (ngModelChange)="demIdChange()" onclick="this.setAttribute('value', this.value);"
									 value="">
										<option value=""></option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>15</option>
									</select>
									<label>Data Exchange Module ID</label>
								</div>
							</div>
							<div class="col-md-3">

								<div class="floating-label input-group mt-1">
									<input type='text' (dateSelect)="onDateSelect($event)" class="floating-input form-control" ngbDatepicker #d1="ngbDatepicker"
									 (click)="d1.toggle()" placeholder=" " />
									<div class="input-group-append">
										<span class="input-group-text">
											<span class="fa fa-calendar-o" (click)="d1.toggle()"></span>
										</span>
									</div>
									<label> Date</label>

								</div>
							</div>
						</div>
					</div>
					<section id="tabs">
						<div class="row">
							<div class="col-sm-12">
							</div>
						</div>
						<div class="row">
							<!--Tabset Starts-->
							<div class="col-md-12 col-lg-12">
								<div class="card">
									<div class="card-body" style="margin-top: -36px;">
										<div class="card-block">
											<ngb-tabset>
												<ngb-tab id="outwardFile">
													<ng-template ngbTabTitle>
														<div (click)="outwardfile()">Outward Files</div>
													</ng-template>
													<ng-template ngbTabContent>
														<mat-card>
															<div class="example-container mat-elevation-z8">

																<mat-form-field style="width:100%;">
																	<input matInput (keyup)="Filter($event.target.value)" placeholder="Filter">
																</mat-form-field>

																<mat-table #Table [dataSource]="MyDataSource" matSort>
																	<!-- <ng-container >
																		<mat-header-cell *matHeaderCellDef mat-sort-header> index</mat-header-cell>
																		<mat-cell *matCellDef="let outwardData; let i = index;"> {{i}} </mat-cell>
																	</ng-container> -->


																	<ng-container matColumnDef="sessionType">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>Session Id</mat-header-cell>
																		<mat-cell *matCellDef="let outwardData;let i = index"> {{i+1}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="fileType">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>File Type</mat-header-cell>
																		<mat-cell *matCellDef="let outwardData"> {{outwardData.fileType}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="direction">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>Direction</mat-header-cell>
																		<mat-cell *matCellDef="let outwardData"> {{outwardData.direction}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="ctscount">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>CTS</mat-header-cell>
																		<mat-cell *matCellDef="let outwardData"> {{outwardData.ctscount}} </mat-cell>
																	</ng-container>

																	<ng-container matColumnDef="cchcount">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>CCH</mat-header-cell>
																		<mat-cell *matCellDef="let outwardData"> {{outwardData.cchcount}} </mat-cell>
																	</ng-container>


																	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
																	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
																</mat-table>


																<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
																</mat-paginator>
															</div>
														</mat-card>
													</ng-template>
												</ngb-tab>
												<ngb-tab id="inwardFile">
													<ng-template ngbTabTitle>
														<div (click)="inwardfile()">Inward Files</div>
													</ng-template>
													<ng-template ngbTabContent>
														<mat-card>
															<div class="example-container mat-elevation-z8">

																<mat-form-field style="width:100%;">
																	<input matInput (keyup)="Filter($event.target.value)" placeholder="Filter">
																</mat-form-field>

																<mat-table #Table [dataSource]="MyDataSource" matSort>


																	<ng-container matColumnDef="sessionType">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>Session Id</mat-header-cell>
																		<mat-cell *matCellDef="let inwardData;let i=index"> {{i+1}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="fileType">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>File Type</mat-header-cell>
																		<mat-cell *matCellDef="let inwardData"> {{inwardData.fileType}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="direction">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>Direction</mat-header-cell>
																		<mat-cell *matCellDef="let inwardData"> {{inwardData.direction}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="ctscount">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>CTS</mat-header-cell>
																		<mat-cell *matCellDef="let inwardData"> {{inwardData.ctscount}} </mat-cell>
																	</ng-container>

																	<ng-container matColumnDef="cchcount">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>CCH</mat-header-cell>
																		<mat-cell *matCellDef="let inwardData"> {{inwardData.cchcount}} </mat-cell>
																	</ng-container>

																	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
																	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
																</mat-table>


																<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
																</mat-paginator>
															</div>
														</mat-card>
													</ng-template>
												</ngb-tab>
												<ngb-tab id="outwardreturns">
													<ng-template ngbTabTitle>
														<div (click)="outwardreturns()">outward returns</div>
													</ng-template>
													<ng-template ngbTabContent>
														<mat-card>
															<div class="example-container mat-elevation-z8">

																<mat-form-field style="width:100%;">
																	<input matInput (keyup)="Filter($event.target.value)" placeholder="Filter">
																</mat-form-field>

																<mat-table #Table [dataSource]="MyDataSource" matSort>


																	<ng-container matColumnDef="sessionType">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>Session Id</mat-header-cell>
																		<mat-cell *matCellDef="let outwardreturns;let i=index"> {{i+1}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="fileType">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>File Type</mat-header-cell>
																		<mat-cell *matCellDef="let outwardreturns"> {{outwardreturns.fileType}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="direction">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>Direction</mat-header-cell>
																		<mat-cell *matCellDef="let outwardreturns"> {{outwardreturns.direction}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="ctscount">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>CTS</mat-header-cell>
																		<mat-cell *matCellDef="let outwardreturns"> {{outwardreturns.ctscount}} </mat-cell>
																	</ng-container>

																	<ng-container matColumnDef="cchcount">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>CCH</mat-header-cell>
																		<mat-cell *matCellDef="let outwardreturns"> {{outwardreturns.cchcount}} </mat-cell>
																	</ng-container>

																	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
																	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
																</mat-table>


																<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
																</mat-paginator>
															</div>
														</mat-card>
													</ng-template>
												</ngb-tab>
												<ngb-tab id="inwardreturns">
													<ng-template ngbTabTitle>
														<div (click)="inwardreturns()">Inward returns</div>
													</ng-template>
													<ng-template ngbTabContent>
														<mat-card>
															<div class="example-container mat-elevation-z8">

																<mat-form-field style="width:100%;">
																	<input matInput (keyup)="Filter($event.target.value)" placeholder="Filter">
																</mat-form-field>

																<mat-table #Table [dataSource]="MyDataSource" matSort>


																	<ng-container matColumnDef="sessionType">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>Session Id</mat-header-cell>
																		<mat-cell *matCellDef="let inwardreturns;let i=index"> {{i+1}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="fileType">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>File Type</mat-header-cell>
																		<mat-cell *matCellDef="let inwardreturns"> {{inwardreturns.fileType}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="direction">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>Direction</mat-header-cell>
																		<mat-cell *matCellDef="let inwardreturns"> {{inwardreturns.direction}} </mat-cell>
																	</ng-container>


																	<ng-container matColumnDef="ctscount">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>CTS</mat-header-cell>
																		<mat-cell *matCellDef="let inwardreturns"> {{inwardreturns.ctscount}} </mat-cell>
																	</ng-container>

																	<ng-container matColumnDef="cchcount">
																		<mat-header-cell *matHeaderCellDef mat-sort-header>CCH</mat-header-cell>
																		<mat-cell *matCellDef="let inwardreturns"> {{inwardreturns.cchcount}} </mat-cell>
																	</ng-container>

																	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
																	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
																</mat-table>


																<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
																</mat-paginator>
															</div>
														</mat-card>
													</ng-template>
											
												</ngb-tab>

											</ngb-tabset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!--Tabset Ends-->

					<div class="col-md-12" *ngIf="false">
						<div class="px-3">
							<div class="content-header">Details Session - 1 </div>

							<table class="table table-bordered mt-3">
								<tr>
									<th colspan="2"><strong> Institution ID - 1090 </strong> </th>
									<th colspan="3"> Date: 04 / 07 / 2018</th>
								</tr>
								<tr>
									<th class="text-center">S NO</th>
									<th>File Name </th>
									<th>File Type </th>
									<th>File Size </th>
									<th class="text-center">Status</th>
								</tr>
								<tr>
									<td class="text-center">1</td>
									<td>CXF_14072018_00080.xml</td>
									<td>CXF</td>
									<td>100kb</td>
									<td>File uploaded to CCH</td>
								</tr>
								<tr>
									<td class="text-center">2</td>
									<td>CXF_14072018_00081.xml</td>
									<td>CXF</td>
									<td>90kb</td>
									<td>File uploaded to CCH</td>
								</tr>
								<tr>
									<td class="text-center">3</td>
									<td>CIBF_14072018_00080.xml</td>
									<td>CXF</td>
									<td>140kb</td>
									<td>File uploaded to CCH</td>
								</tr>
								<tr>
									<td class="text-center">4</td>
									<td>CIBF_14072018_00080.xml</td>
									<td>CXF</td>
									<td>85kb</td>
									<td>File uploaded to CCH</td>
								</tr>
							</table>

						</div>
					</div>
									</div>
			</div>
		</div>
	</section>
</div>